$colorPrincipal: #a4ca5d;
$colorSecundario: #cd5afd;





/* MAPS */
$redes: (
    facebook: blue,
    instagram: red,
    twitter: white,
);


/*Creamos el bucle del mapa*/

@each $red, $color in $redes  {
    btn--#{$red} {
        background-color: $color;
    }
}


/* EXTEND */

.boton {
    margin-top: 10px;
    margin-bottom: 10px;
}
.boton--aceptar{
    @extend .boton;
    background-color: red;
}


/* MIXINS */

@mixin sizes($ancho, $alto) {
    height: $alto;
    width: $ancho;
       
}
.derechos{
    @include sizes(40px, 100% )
}


/*MAP GET*/

$estilos: (    
    tfuente: 25px,
    color: violet,
    border: solid,
    bordecolor: black,
    
);

.sectionIndex {
  background-color: map-get($estilos, color);
  font-size: map-get($estilos, tfuente );
  border: map-get($estilos , border);
  border-color: map-get($estilos, border-color);
}

$cajaComo: (
    margenAbajo: 15px,
    borde: 15px, 
);

.cajaComo {
    margin-top: map-get($cajaComo, margenAbajo );
    padding: map-get($cajaComo, borde);
}