*{
    margin: 5px;
    padding: 5px;
    box-sizing: border-box;
    }
    li{
        list-style: none;
        }
        

    body{
        background-color: #dddad5;
    }

    html{
        background-color: #dddad5;   
     }    


     
     header{
        display: grid;
        grid-template-columns: 100% ;
        grid-template-rows: 600px 220px 200px 210px 220px;
        grid-area: 
        "header "
        "titulo"
        "tituloDos"
        "bordemenu";
    }
    



/*index*/    

    



 main ul li {
           display: inline-block ; 
            margin-left: 43px;
            align-items: center;
            background-color: #a4ca5d; color: black;
            padding: 15px;
            font-size: 20px; 
            margin-bottom: 70px;
            border-radius: 30px;
            font-family: 'Lobster', cursive;
            border-style: solid;
            transition: flex;
            transition: 2s;
            background: linear-gradient(to right, #a4ca5d, white 20%)

            }
main ul li :hover{
    font-size: 102%;
    color: red;
    }



   
      
    
      .sectionIndex{
          display: grid;
          grid-template-columns: 100%;

      }
      .footerIndex{
        align-items: 2px;
        font-family: 'Lobster', cursive;
        size: 15px;
        }
    
    
 .bordemenu{
        
    border: solid;
    border-radius: 10px;
    border-width: 10px;
    display: flex;
    justify-content: center;
    padding-top: 6%;
    
        }
        

        
    
       
        




.titulo{
    margin-top: 0;
    font-family: 'Lobster', cursive;
    display: flex;
    justify-content: center;
    font-size: 120px;
    border: solid;
    border-radius: 30px;
    border-width: 10px;
    }
.tituloDos{
       font-family: 'Lobster', cursive;
       display: flex;
       justify-content: center;
       font-size: 90px;
       border: double;
       border-radius: 30px;
       }
.comelas{
        display: flex;
        justify-content: center;
        background-color: #a4ca5d; color: black;
        font-family: 'Lobster', cursive;
        font-weight: 100;
        border-radius: 30px;
        border: solid;
        font-size: 35px;
        }
.comelas_dos{
        display: inline-block;
        background-color: violet;
        border-style: solid;
        font-family: 'Lobster', cursive;
        font-weight: 80px;
        border-radius: 60px;
        }

      
    /*nuestros productos*/

    .nProdu{
        display: grid;
        grid-template-columns: 100% ;
        grid-template-rows:65px 310px 65px 65px;
        grid-area: 
        "burguers"
        "tipoBurguer"
        "nuggets"
        "nuggetsDos"
        ;
    }
    .carreteProductos{
        margin-bottom: 60px;
        margin-top: 100px;
        }



.burguers{ 
    background-color:#a4ca5d;
    display: inline-block;
    border: solid;
    color: black;
    font-family: 'Lobster', cursive;
    border-radius: 30px;
    font-weight: 100;  
    
    
    }
.tipoBurguer{
    font-size: 25px;
    background-color: violet;
    
    color: black;
    font-family: 'Lobster', cursive;
    margin-bottom: 100px;
    border: solid;
    border-radius: 30px;
    font-weight: 100;
    margin: 1;
    
    }
.nuggets{
  

    background-color:#a4ca5d;
    display: inline-block;
    border: solid;
    color: black;
    font-family: 'Lobster', cursive;
    border-radius: 30px;
    font-weight: 100;
    margin: 1;
    }
.nuggetsDos{
    font-size: 25px;
    background-color: violet;
    color: black;
    font-family: 'Lobster', cursive;
    margin-bottom: 100px;
    border: solid;
    border-radius: 30px;
    font-weight: 100;   
    margin: 1px;
    
}
.quienesSomos{
    background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);
    width: 350px;
    height: 250px;
    overflow: scroll; 
    display: inline-block;
    margin-left: 190px;
    font-family: 'Lobster', cursive;
    font-size: large;
    border: solid;
    font-weight: 150px;
       
}


footer{
 display: flex;
 justify-content: end;
 align-items: flex-end;
    }
.aclaraciones{
    justify-content: center;
    background-color:#a4ca5d;
    display: inline-block;
    border: solid;
    color: black;
    font-family: 'Lobster', cursive;
    border-radius: 30px;
    font-weight: 100;
    }
.aclaracionesDos{
    
    font-size: 22px;
    background-color: violet;
    color: black;
    font-family: 'Lobster', cursive;
    margin-bottom: 100px;
    border: solid;
    border-radius: 30px;
    }
.acordate{
    justify-content: center;
    background-color:#a4ca5d;
    display: inline-block;
    border: solid;
    color: black;
    font-family: 'Lobster', cursive;
    border-radius: 30px;
    font-weight: 100;
    }
.acordateDos{
    font-size: 22px;
    background-color: violet;
    color: black;
    font-family: 'Lobster', cursive;
    margin-bottom: 100px;
    border: solid;
    border-radius: 30px;
    }
.contacto{
    
    background-color:#a4ca5d;
    display: inline;
    border: solid;
    color: black;
    font-family: 'Lobster', cursive;
    border-radius: 30px;
    font-size: 32px;
    
}

.carrete{
    padding: 10px;
}
.comelas_dos{
    display: inline-block;

    margin: 5px;
    padding: 5px;
}
.principal{
    margin-top: 50px;
    margin-bottom: 25px;
    font-family: 'Lobster', cursive;
    }
.carreteProductos{
    margin-bottom: 60px;
    margin-top: 100px;
    }
.contactoForm{
    display: inline-block; 
    width: 50px;  
    line-height: 30px;
    font-family: 'Lobster', cursive;
    border: 30px;
    }
.acepto{
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'Lobster', cursive;
    }
  .cajaComo{
      padding: 15px;
      margin-top: 15px;
  }

   /* tamaño tablet */

   @media screen and (max-width:756px) {
    main ul li{
        flex-direction: column;
        padding: 2%;
        margin: 3px;
     }
     .bordemenu{
     border: none;
        
      }
      .titulo{
        margin-top: 50px;
        margin-bottom: 400px;
        border: none; 
      }
    
      .tituloDos{
          margin-top: 50px;
          margin-bottom: 400px;
          border: none;
        
      }
  }
  

/*tamaño celular*/
  
  @media screen and (max-width:500px) {
  
        main ul li{
       flex-direction: column;
       padding: 2%;
       margin: 3px;
            
         }
         .bordemenu{
         
         padding: 10px; 
          }
        
          .titulo{
            
            padding: 50px;
            border: none;   
          }
        
          .tituloDos{
            padding: 80px;
            border: none;
        }

        }